:root{
    background-color: white;
    width: 1400px;
    font-family: sans-serif;
    margin: 0 auto;
    background-color: #f5f5f5f3;
  }

  body{
    margin: 0;
    position: relative;
    top: -17px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .wrapper{
    width: 1400px;
    margin: 0 auto;
    background-color: white;
  }
   .header-content-container {
    width: 1100px;
    margin: 0 auto;
    background-color: white;
  }

  .option-box{
    height: 44px;
    background-color: #3fb1ce;
  }

  select{
    margin-top: 14px;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 11px;
    float: left;
  }

  .option-box span{
    font-size: 11px;
    display: inline-block;
    margin-top: 14px;
    color: #bef2fff1;
  }

  .option-box span:nth-child(1){
    margin-left: 150px;
    float: left;
  }


  .option-box span:nth-child(3){
    float: left;
    margin-left: 18px;
    clear: right;
  }



 
  #main li{
    float: left ;
    display: inline-block;
    margin-left: 10px;
    font-size: 11px;
    margin-top: 14px;
    color: white;
    transition: 0.3s all;
  
  }

  #main li:hover{
    text-decoration: underline;
  }

  #main li:nth-child(1){
    margin-left: 420px;
  }

  #main li:not(li:nth-child(1))::before{
    content: " | ";
    margin: 10px;
  }
  #main li a{
    text-decoration: none;
    color: white;
  }

  /* Header's bottom */
.link{
    height: 104px;
    background-color: white;
  }

  .logo{
    display: inline-block;
    width: 166px;
    height: 26px;
    margin-top: 38px;
    background-image: url(./img/logo.png);
    float: left;
  }

  #link li{
    display: inline-block;
    float:left;
    width: 42px;
    height: 10px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 46px;
    margin-left: 20px;
    font-weight: 800;
  }

  #link li a{
    text-decoration: none;
    color: #656565fb;
  }

  #link li:nth-child(1){
    margin-left: 59px;
  }
  #link li:nth-child(2){
    margin-left: 11px;
  }
  #link li:nth-child(3){
    margin-left: 23px;
    width: 25px;
  }
  #link li:nth-child(4){
    margin-left: 22px;
    width: 40px;
  }
  #link li:nth-child(5){
    width: 61px;
}
.search{
  display: inline-block;
  width: 175px;
  height: 30px;
  border: 2px solid rgba(211, 211, 211, 0.966);
  border-radius: 4px;
  float: left;
  margin-left: 185px;
  margin-top: 35px;
  opacity: 0.6;
}
#search{
  width: 176px;
  height: 31px;
  border: none;
  position: absolute;
}

#lupa{
position: relative;
z-index: 2;
float: right;
margin: 8px 9px;
}
.stock{
display: inline-block;
margin-top: 33px;
margin-left: 14px;
float: left;
transition: 0.3s all ;
border-radius: 50%;
}
.stock:hover{
transform: scale(1.3,1.3);
}
.stock:active{
transform: scale(1.2,1.2);
}
.buy{
display: inline-block;
margin-top: 33px;
margin-left: 4px;
float: left;
transition: 0.3s all ;
border-radius: 50%;
}
.buy:hover{
transform: scale(1.3,1.3);
}
.buy:active{
transform: scale(1.2,1.2);
}
.cart{
width: 59px;
height: 12px;
font-size: 12px;
line-height: 1em;
color: #656565fb;
font-weight: 800;
display: inline-block;
text-transform: uppercase;
margin-left: 10px;
margin-top: 46px;
float: left;
}

/* The fone part */
.foneglasses{
    width: 1400px;
    height: 480px;
    position: relative;
    
  }

  #foneglasses{
    position: absolute;
    float: left;
    z-index: 2;
  }

  .arleft{
    position: absolute;
    float: left;
    top: 203px;
    left: 75px;
    z-index: 3;
  }

  .foneglasses div:first-of-type{
    display: inline-block;
    width: 250px;
    height: 44px;
    position: absolute;
    background-color: #716A61;
    text-align: left;
    line-height: 1.9em;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 15px;
    color: rgb(255, 255, 255);
    top: 189px;
    left: 185px;
    z-index: 3;
    float: left;
  }

  .foneglasses div:last-of-type{
    display: inline-block;
    width: 290px;
    height: 44px;
    position: absolute;
    background-color: #716A61;
    line-height: 1.9em;
    text-align: left;
    font-size: 25px;
    padding-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    float: left;
    left: 185px;
    top: 239px;
    clear: left;
    z-index: 3;
  }

  .arright{
    position: absolute;
    float:right;
    right: 75px;
    top: 203px;
    z-index: 3;
  }
  
  /* The main information */
 
  article{
    width: 1400px;
    height: 2016px;
    background-color: white;
    position: relative;
  }

  .article-content-container {
    width: 1100px;
    height: 2016px;
    margin: 0 auto;
    background-color: white;
  }

  .products, aside, .staff, .newproducts{
    background-color: white;
    position: absolute;
    float: left;
  }

  .products{
    width: 742px;
    height: 1049px;
    top: 47px;
  }

  aside{
    width: 236px;
    height: 814px;
    top: 46px;
    right: 190px;
  }
  .staff{
    width: 758px;
    height: 359px;
    top: 1152px;
  }
  .newproducts{
    width: 758px;
    height: 364px;
    top: 1576px;
    
  }

  /* Featured Products */
.text{
    color: #656565;
    height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .glasses{
    display: inline-block;
    position: relative;
    width: 234px;
    height: 311px;
    background-color: white;
    box-shadow: 2px 2px 2px lightgray, -2px -2px 2px lightgray ;
    padding-top: 8px;
    margin-top: 21px;
    margin-right:20px;
    float: left;
  
  }

  .glasses:nth-of-type(3n+1){
    margin-right:0px;
  }
  .photoglasses{
    width: 218px;
    height: 210px;
    background-color: #EFF1F0;
    margin-left: 8px;
    position: relative;
  }
  .photoglasses img{
    position: absolute;
    top: 24%;
    left: 13%;
  }
  .glasses span:nth-child(2){
    display: inline-block;
    float: left;
    font-size: 15px;
    position: absolute;
    left: 10px;
    top: 252px;
  }
  .glasses span:nth-child(4){
    display: inline-block;
    float: left;
    font-size: 18px;
    position: absolute;
    color: #7DB122;
    left: 10px;
    top: 274px;
  }
  .buy2{
    display: inline-block;
    float: right;
    position: absolute;
    right: 10px;
    top: 252px;
    transition: 0.1s all ;
    border-radius: 50%;
  }
  .buy2:hover{
    transform: scale(1.2,1.2);
  }
  .buy2:active{
    transform: scale(1.1,1.1);
  }

  /* Sale and new */
.new::after{
    content: url(./img/new.png);
    position: absolute;
    top: -4px;
    left: 140px;
  
  }
  .sale::after{
    content: url(./img/sale.png);
    position: absolute;
    top: -4px;
    left: -3px;
  }
  .sale span:nth-of-type(2)::before{
    content: "$460";
    color: black;
    font-size: 14px;
    text-decoration: line-through;
    margin-right: 4px;
  }
  
  /* Staff */
  .staff .text::first-letter{
    letter-spacing: -1px;
  }

  
/* Top part */
#advertisement{
    width: 236px;
    height: 498px;
    margin-bottom: 30px;
  }
  #advertisement div:first-of-type:not(.circle div){
    position: relative;
    height: 446px;
    background-image: url(./img/woman.png);
    background-position: center;
    background-position-y: -9px;
    background-repeat: no-repeat;
    background-size: auto;
    border: 10px solid white;
    border-top: none;
    box-shadow: 2px 2px 2px #eeeeee, -2px -2px 2px #eeeeee ;
  }
  #check{
    width: 133px;
    height: 45px;
    background-color: #52bcd6;
    color: white;
    border: none;
    position: absolute;
    left: 42px;
    top: 377px;
    transition: 0.3s all
  }
  #check:hover{
    transform: scale(1.1,1.1);
  }
  #check:active{
    transform: scale(1.05,1.05);
  }
  #advertisement div:nth-child(2):not(.circle div){
    height: 42px;
    border-top: none;
    box-shadow: 2px 2px 2px #eeeeee, -2px -2px 2px #eeeeee ;
  }
  .circle{
    display: inline-block;
    width: 54px;
    height: 12px;
    margin-left: 90px;
    margin-top: 17px;
  }
  .circle div{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #7cb31e;
    margin-left: 9px;
    float: left;
  }
  .circle div:nth-child(1){
    background-color: #52bcd6;
    margin-left: 0;
  }

  /* Bottom part */
#subscribe{
    height: 282px;
    border-top: 4px solid #3fb1ce;
    box-shadow: 2px 2px 2px #eeeeee, -2px -2px 2px #eeeeee ;
    position: relative;
  }
  #subscribe div:nth-child(1){
    width: 156px;
    height: 46px;
    font-size: 21px;
    text-transform: uppercase;
    color: #64615a;
    text-align: center;
    position: absolute;
    top: 26px;
    left: 36px;
  }
  #subscribe div:nth-child(2){
    width: 187px;
    height: 34px;
    color: #64615a;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 95px;
    left: 24px;
  }
  #subscribe hr{
    /* display: inline-block; */
    width: 86px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
    position: absolute;
    top: 133px;
    left: 73px;
  }
  #subscribe input:first-of-type{
    width: 186px;
    height: 30px;
    border: 2px solid #e2e2e2;
    position: absolute;
    top: 154px;
    left: 23px;
  }
  #subscribe button{
    width: 113px;
    height: 45px;
    border: none;
    color: white;
    background-color: #7cb31e;
    position: absolute;
    top: 201px;
    left: 60px;
    transition: 0.3s all;
  }
  #subscribe button:hover{
    transform: scale(1.1,1.1);
  }
  #subscribe button:active{
    transform: scale(1.05,1.05);
  }
  

/* Basement */
footer{
    width: 1400px;
    height: 475px;
    color: white;
  }

  .footer1-content-container {
    width: 1100px;
    height: 106px;
    margin: 0 auto;
  }

  .footer1{
    height: 106px;
    background-color: #3fb1ce;
  }

  .footer2{
    height: 334px;
    background-color: #39a0b9;
  }

  .footer2-content-container {
    width: 1100px;
    height: 334px;
    margin: 0 auto;
  }

  .footer3{
    height: 65px;
    background-color: #0b4b5a;
    color: #39a0b9;
    font-size: 13px;
  
  }

  .footer3-content-container {
    width: 1100px;
    height: 65px;
    margin: 0 auto;
  }

  /* First part */
  #delivery{
    display: inline-block;
    margin-top: 21px;
    float: left;
    transition: 0.3s all;
  }
  #delivery:hover{
    transform: scale(1.2,1.2);
  }
  #delivery:active{
    transform: scale(1.1,1.1);
  }
  .footer1 div:nth-child(2){
    width: 383px;
    height: 17px;
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 44px;
    margin-left: 20px;
    float: left;
  }
  #tel{
    display: inline-block;
    margin-top: 21px;
    margin-left: 100px;
    float: left;
    transition: 0.3s all;
  }
  #tel:hover{
    transform: scale(1.2,1.2);
  }
  #tel:active{
    transform: scale(1.1,1.1);
  }
  .footer1 div:nth-child(4){
    width: 350px;
    height: 15px;
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 45px;
    margin-left: 20px;
    float: left;
  }
  .footer1 div:nth-child(4) a{
    text-decoration: none;
    color: white;
  }
  
  /* Second part */
  .facebook{
    width: 235px;
    height: 231px;
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 49px;
  }
  .facebook hr:nth-of-type(1){
    position: absolute;
    float: left;
    height: 2px;
    width: 230px;
    top: 75px;
    background-color: #e2e2e2;
    border: none;
  }
  .facebook hr:nth-of-type(2){
    position: absolute;
    float: left;
    height: 2px;
    width: 230px;
    top: 199px;
    background-color: #e2e2e2;
    border: none;
  }
  .facebook div:nth-child(1){
    width: 102px;
    height: 14px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    float: left;
    left: 2px;
  }
  .facebook div:nth-child(2){
    width: 96px;
    height: 10px;
    font-size: 10px;
    position: absolute;
    float: left;
    left: 1px;
    top: 39px;
  }
  #like{
    position: absolute;
    float: left;
    left: 1px;
    top: 55px;
    transition: 0.3s all;
  }
  #like:hover{
    transform: scale(1.1,1.1);
  }
  #like:active{
    transform: scale(1.05,1.05);
  }
  .photos{
    width: 233px;
    height: 109px;
    position: absolute;
    float: left;
    top: 82px;
  }
  .photos a{
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 9px;
    margin-left: 11px;
    transition: 0.3s all;
  }
  .photos a:hover{
    transform: scale(1.1,1.1);
  }
  .photos a:active{
    transform: scale(1.05,1.05);
  }
  
  .photos a:nth-child(1){
    margin-left: 0;
  }
  .photos a:nth-child(5){
    margin-left: 0;
  }
  .facebook span{
    width: 135px;
    height: 13px;
    font-size: 13px;
    position: absolute;
    float: left;
    top: 218px;
  }
  
  
  .twitter{
    width: 222px;
    height: 220px;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 49px;
  }
   .twitter div a{
    text-decoration: none;
    color: #9ae2f4;
   }
  .twitter div:nth-of-type(1){
    width: 154px;
    height: 14px;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    float: left;
  }
  .twit{
    position: absolute;
    float: left;
    left: 1px;
    top: 44px;
    transition: 0.3s all;
  }
  .twitter div:nth-of-type(2){
    display: inline-block;
    width: 165px;
    height: 70px;
    font-size: 13px;
    position: absolute;
    float: left;
    left: 57px;
    top: 49px;
  }
  .twit2{
    position: absolute;
    float: left;
    left: 1px;
    top: 145px;
    transition: 0.3s all;
  }
  .twit:hover, .twit2:hover{
    transform: scale(1.1,1.1);
  }
  .twit:active, .twit2:active{
    transform: scale(1.05,1.05);
  }
  .twitter div:nth-of-type(3){
    width: 165px;
    height: 70px;
    font-size: 13px;
    position: absolute;
    float: left;
    left: 57px;
    top: 150px;
  }
  
  
  .info{
    width: 186px;
    height: 182px;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 73px;
    margin-top: 49px;
  }
  .info div{
    width: 134px;
    height: 14px;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    float: left;
  }
  .info ul{
    position: absolute;
    float: left;
    width: 168px;
    margin: 0;
    padding: 0;
    top: 49px;
  }
  .info li{
    /* position: absolute; */
    width: 174px;
    list-style: none;
    font-size: 13px;
    float: left;
    margin-bottom: 5px;
  
  }
  .info li::before{
    content: "\003E";
    font-size: 9px;
    margin-right: 11px;
  }
  
  
  .contact{
    width: 205px;
    height: 226px;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 61px;
    margin-top: 49px;
  }
  .contact a{
    text-decoration: none;
    color: white;
  }
  .contact div:nth-child(1){
    width: 129px;
    height: 14px;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    float: left;
    left: 3px;
  }
  .contact div:nth-child(2){
    width: 150px;
    height: 106px;
    line-height: 24px;
    position: absolute;
    float: left;
    font-size: 13px;
    left: 6px;
    top: 42px;
  
  
  }
  .contact hr{
    width: 205px;
    height: 2px;
    position: absolute;
    float: left;
    background-color: #e2e2e2;
    border: none;
    top: 170px;
  }
  .contact img{
    float: left;
    margin-right: 6px;
    margin-top: 200px;
    margin-left: 4px;
    transition: 0.3s all;
  }
  .contact img:hover{
    transform: scale(1.1,1.1);
  }
  .contact img:active{
    transform: scale(1.05,1.05);
  }
  
  /* Third part */
  .footer3 span{
    display: inline-block;
    margin-top: 25px;
    float: left;
  }
  .footer3 a{
    text-decoration: none;
    color: #39a0b9;
  }
  .footer3 li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 25px;
    float: left ;
    transition: 0.3s all;
  }
  .footer3 li:nth-child(1){
    margin-left: 300px;
  }

  .footer3 li:hover{
    text-decoration: underline;
  }
  .footer3 li:not(li:nth-child(1))::before{
    content: " | ";
    margin: 5px;
  }
  .footer3 ul{
    margin: 0;
  }
    










