body {
    font-family: 'Minion Pro', serif;
    font-size: 16px;

}

.clearfix {
  overflow: auto;
}

.general{
    width: 1300px;
    min-height: 200px;
    margin: 0 auto;
    background-image: url('./img/background.png');
    background-clip: border-box;
    background-position: left top;
    background-repeat: space;
    overflow: hidden;
  

}



.header{
    width: 100%;
    height: 70px;
    background-color: #8c0a0d;
    

}

.logohead{
    width: 1170px;
    margin: 0 auto;
    overflow: auto;


}

#Roshen_logo {
    margin-top: 15px;
    float: left;

}
ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 90px;
    font-size: 13px;
    
    
}

li {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-top: 25px;
    text-transform: uppercase;
    
}
a {
    text-decoration: none;
    color: #eec875;

 }

 #iconeng {
    display: inline-block;
    float: right;
    margin-top: 37px;
    margin-right: 10px;
 }



 .language {
    display: inline;
    text-transform: uppercase;
    color: #eec875;
    float: right;
    margin-top: 37px;

}

.slidefactory {
    width: 1170px;
    margin: 26px auto 0;
    position: relative;
}

.factory {
    height: 333px;
    margin: 0 auto;
}

button:active {
    background-color: #ecd092;
}

button {
    border: none;
    outline: none;
    border-radius: 7px;
    width: 190px;
    height: 42px;
    font-family: 'Minion Pro', serif;
    font-weight: 800;
    font-size: 24px;
    background-color: #eed9ad;
    box-shadow: 0 6px #c46b12;
    position: absolute;
    top: 110px;
    left: 490px;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: 50px;
    color: #35040c;
    position: absolute;
    top: 0;
    margin-top: 26px;
    margin-left: 400px;
    float: none;
    
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1090px;
    bottom: 190px;
    left: 40px;
    
  }


.nav-dots {
    position: relative;
    bottom: 80px;
    margin-left: 560px;
  }
  
  .nav-dot-img2 {
    margin-left: 5px;
    margin-right: 5px;
  }


.info-container-headers {
    font-family: "MinionPro-Bold", serif;
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
  
  .info-container-headers div:last-child {
    width: 25%;
  }

  .wrapper {
    margin: auto;
    max-width: 1170px;
  }
  
  .parts {
    width: 25%;
    margin-right: 30px;
  }
  
  .parts div:last-child{
    margin-right: 0;
  }

  .headers {
    font-weight: 700;
  }
  
  .data {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .data-3 {
    margin-top: 20px;
  }

  
.footer {
    width: 100%;
    height: 70px;
    background-color: #8c0a0d;
  }
  
  .footer-container {
    font-family: "MinionPro-Bold", serif;
    font-size: 13px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eec875;
    line-height: 25px;
  }
  
  .site {
    margin-top: 25px;
    margin-right: 70px;
  }
  
  .site-link {
    text-decoration: none;
    color: #eec875;
  }
  
  .address {
    margin-left: 10px;
    width: 17%;
    text-align:left;
  }
  
  .tel {
    width: 15%;
    margin-left: 10px;
    text-align: right;
  }
  
  .email {
    width: 15%;
    margin-left: 120px;
    text-align:left;
  }
  
  .social {
    padding-left: 6px;
    justify-content: space-between;
  }
  
  .facebook {
    margin-right: 5px;
  }
  





