@font-face {
    font-family: RobotoRegular;
    src: url("../Psynew/Fonts/RobotoRegular.eot");
    src: url("../Psynew/Fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("..//Psynew/Fonts/RobotoRegular.woff") format("woff"),
    url("../Psynew/Fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* *(зірочка) - це універсальний селектор, оформлення,якого застосовується для кожного елемента HTML
border-box каже браузеру враховувати будь-які межі та внутрішні відступи в значеннях, які вказуються в ширині і висоті елементу*/

* {
    box-sizing: border-box;
    
}


body {
    font-family: 'RobotoRegular', sans-serif;
   
}
.general {
    margin: 0 auto;
    width: 750px;
}
    /*inline-block- це коли елемент продовжує знаходитись у строці, але має властивості блоку*/

.header {
    display:inline-block;
    background-color: #2d7556;
    width: 750px;
    height: 210px;
    padding-right: 30px;
    padding-left: 40px;
      
}

.circle1-block {
    display:inline-block;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
}
.title-block {
    display: inline-block;
    width: 148px;
    height: 148px;
    font-size: 24px;
    color: white;
    text-align: left;
    margin-top: 35px;
    margin-left: 50px;
}
/*position:relative-це відносне позиціюнування зміщує елемент відносно його звичайного положення*/

.nav-block {
    position: relative;
    width: 100px;
    height: 70px;
    left: 590px;
    bottom: 120px;
    
}

.line1 {
    display:inline-block;
    width: 75px;
    height: 10px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
    
}

.line2 {
    display:inline-block;
    width: 75px;
    height: 10px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
    
}

.line3 {
    display:inline-block;
    width: 75px;
    height: 10px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
    
}

/*position:absolute-це абсолютне позиціюнування позиціонує елемент заново, роблячи його невидими для інших елементів*/

.room-block {
    position: absolute;
    background-image: url(./room.png) ;
    height: 465px;
    width: 750px;
    top: 210px;
}

.fon {
    position: relative;
    background-color: black;
    opacity: 0.3;
    width: 740px;
    height: 465px;
    left: 5px;
    bottom: 20px;
    
}

.button1 {
    display: inline-block;
    width: 340px;
    height: 58px;
    background-color: #e6a82c;
    line-height: 2.7;
    font-size: 21px;
    text-align: center;
    color: white;
    position: absolute;
    left: 210px;
    bottom: 40px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .photopsy-block {
        display: inline-block;
        width: 240px;
        height: 240px;
        background-image: url(./photopsy.png);
        border-radius: 50%;
        margin-left: 40px;
        margin-top: 475px;
       
    
    }
    
    .name {
        display:inline-block;
        width: 220px;
        margin-left: 320px;
        margin-top: 58px;
        font-size: 26px;
        font-weight: 500;
    }
    
    .doctor {
        display:inline-block;
        width: 240px;
        margin-top: 20px;
        margin-left: 320px;
        font-size: 20px;
    }
    
    .about-block {
        display: inline-block;
        width: 620px;
        margin-top: 20px;
        margin-left: 40px;
        font-size: 20px;
        white-space: pre-line;   
    }
    
    .reason-block {
        display: inline-block;
        width: 620px;
          
    }
    .reason {
        display: inline-block;
        width: 620px;
        padding-top: 35px;
        padding-left: 40px;
        font-size: 28px; 
        font-weight: 500;   
    }
    
    .list {
        display: inline-block;
        padding-top: 35px;
        padding-left: 40px;
        font-size: 20px;  
    }
    
    ul {
        display: inline-block;
        padding-left: 0px;
        margin-top: 0px;
        list-style-type: none;
    }
    
    .button2 { 
        display: inline-block;
        width: 340px;
        height: 58px;
        background-color: #e6a82c;
        line-height: 2.7;
        font-size: 21px;
        text-align: center;
        color: white;
        margin-top: 45px;
        margin-left: 220px;
        margin-bottom: 38px;
    }

    .footer-block {
        display: inline-block;
        background-color: #8a8686;
        height: 148px;
        width: 750px;
    }
    
    .circle2 {
        display: inline-block;
        width: 86px;
        height: 86px;
        background-color: white;
        border-radius: 50%;
        margin-left: 55px;
        margin-top: 37px;
    }
    
    
    .adress {
        display: inline-block;
        width: 205px;
        height: 20px;
        margin-left: 200px;
        color: white;
        font-size: 15px;
        text-align: center;
    }

    .contacts {
        display: inline-block;
        width: 150px;
        height: 70px;
        left: 270px;
        bottom: 62px;
        text-align: right;
    }
    

    .tel {
        display: inline-block;
        width: 145px;
        height: 20px;
        color: white;
        font-size: 15px;
        
    }
    
    .e-mail {
        display: inline-block;
        width: 145px;
        height: 20px;
        color: white;
        font-size: 15px;
        margin-top: 20px;
      
    }
    
    