body{
    margin: 0;
    padding: 0;
}
main {
    background-color: #f0f0f0;
    width: 700px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
}
h3{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: 530;
    letter-spacing: .04em;
    color: #4e1605;
    margin-top: 20px;
    padding: 0;
}
h3::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 20px;
    background-image: url(./img/wave.png);
    background-repeat: no-repeat;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .04em;
    color: #c09140;
    transition: .5s;
    margin: 0;
    padding: 0;
}
h4:hover{
    color: #a19f0a;
    cursor: pointer;
}
p{
    color: #576872;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 22px;
    overflow-wrap: break-word;
}
.plate{
    width: 100%;
    margin-top: 0;
}
.img{
    display: inline-block;
    width: 145px;
    height: 100px;
    border-radius: 17%;
    overflow: hidden;
}
.img:hover{
    opacity: .4;
    cursor:crosshair;
}
.about{
    position: relative;
    display: inline-block;
    width: 520px;
    margin-left: 23px;
    bottom: 11px;
}
.price{
    display: inline-block;
    float: right;
    color: #92900c;
    padding-right: 15px;
}
[class*="meal"]{
    display: inline-block;
}
.meal1::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 310px;
    height: 2px;
    margin-right: 10px;
}
.meal2::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 145px;
    height: 2px;
    margin-right: 10px;
}
.meal3::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 200px;
    height: 2px;
    margin-right: 10px;
}
.meal4::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 210px;
    height: 2px;
    margin-right: 10px;
}
.meal5::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 240px;
    height: 2px;
    margin-right: 10px;
}
.meal6::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 200px;
    height: 2px;
    margin-right: 10px;
}
.meal7::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 110px;
    height: 2px;
    margin-right: 10px;
}
.meal8::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 160px;
    height: 2px;
    margin-right: 10px;
}
.meal9::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 190px;
    height: 2px;
    margin-right: 10px;
}
.meal10::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 210px;
    height: 2px;
    margin-right: 10px;
}
.meal11::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 250px;
    height: 2px;
    margin-right: 10px;
}
.meal12::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 180px;
    height: 2px;
    margin-right: 10px;
}
.meal13::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 260px;
    height: 2px;
    margin-right: 10px;
}
.meal14::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 220px;
    height: 2px;
    margin-right: 10px;
}
.meal15::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 210px;
    height: 2px;
    margin-right: 10px;
}
.meal16::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 90px;
    height: 2px;
    margin-right: 10px;
}
.meal17::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 70px;
    height: 2px;
    margin-right: 10px;
}
.meal18::after{
    content: "";
    display: inline-block;
    border-bottom: 2px #b6b6b6 dotted;
    width: 290px;
    height: 2px;
    margin-right: 10px;
}
