* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    min-width: 1024px;
    background: #f8f9faf3;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrapper{
    margin: 0 auto;
    width: 80%;

}

header {
    width: 100%;
    background-image: url(./img/let.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #131210;

}

.photo img {
    display: block;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 7%;

}

.logo {
    width: 10%;
    margin-left: 10%;
    position: absolute;
    margin-top: 2.5%;

}

.menu {
    display: inline-block;
    width: 50%;
    height: 70%;
    margin-left: 50%;

    

}

nav {
    margin-top: -2%;
   

}
nav ul {
    font-size: 0.9em;

}

nav li {
    
    display: inline-block;
    margin-right: 12%;
    margin-top: 2%;
}


nav a {

    color: #ffffff;
    
}

nav ul li:first-child::before {
    content: '';
    background: url(./img/mail.png)no-repeat;
    position: absolute;
    width: 3%;
    height: 7%;
    margin-left: -3%;
    margin-top: -0.3%;
   
}

nav ul li:nth-child(2):before {
    content: '';
    background: url(./img/phone.png)no-repeat;
    position: absolute;
    width: 3%;
    height: 10%;
    margin-left: -3%;
    margin-top: -0.5%;
    
}

nav ul li button {
    margin-left: -30px;
    display: block;
    margin-top: 30px;
    width: 120px;
    height: 55px;
    border-radius: 30px;
    font-weight: bold;
    color: #135ec5;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    border: none;
}

.dots {
    margin-left: 900px;
    float: right;
    margin-top: -200px;
    margin-right: 50px;

}

.dot {
    margin-bottom: 5px;
    width: 9px;
    height: 9px;
    background: #3c3c3c;
    border-radius: 50px;

}

.dot1 {
    margin-bottom: 5px;
    width: 9px;
    height: 9px;
    background: #135ec5;
    border-radius: 50px;

}

.maintext {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin-top: 20px;

}

.formtext {
    margin-bottom: 100px;
    margin-left: 5%;
    margin-top: 50px;
    background-color: #131210;
    color: white;
    width: 15%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #282726;
    font-size: 30px;
    margin-right: 30px;
    opacity: 0.4;
}


form button {
    margin-left: 5%;
    width: 214px;
    height: 55px;
    border-radius: 30px;
    background: #135ec5;
    border: none;
}

button a {
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
}

main {
    width: 100%;
    overflow: auto;
    background: #f8f9fa;
}

.cars h3 {
    font-size: 18px;
    color: #d1d1d1;
    text-align: center;

}

.cars {

    margin-top: 40px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-width: 100%;




}

.cars ul li {
    display: inline-block;
    margin-left: 6%;

}

.cars ul li a img {
    margin-top: 30%;
    width: 40%;
    height: 30%;

}

.bmwseries {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 80px;
    margin-bottom: 80px;
}

.bmw {

    width: 50%;
    background-image: url(./img/bmw-ban.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 40px;

}

.bmwimg img {
    display: block;
    width: 450px;
    height: 300px;
    margin-left: 50px;
    padding-top: 30px;


}



.info {
    width: 50%;

}



h2 {


    color: #135ec5;
    margin-left: 65px;
    font-weight: bold;
    font-size: 60px;

}

.info p {
    color: #e5e5e5;
    font-size: 16px;
    line-height: 20px;
    margin-left: 65px;
    margin-top: 20px;
}

.info button {
    background: #135ec5;
    width: 214px;
    height: 55px;
    border-radius: 30px;
    margin-left: 65px;
    margin-top: 30px;
}

.announcement {
    width: 100%;
    height: 300px;
    background: #135ec5;
    margin-top: 45px;
}

.announcement p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 35px;
    color: white;

}

.announcement img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 200px;
    margin-top: 40px;
}

.announcement button {
    background: #135ec5;
    width: 13%;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #fff;
    display: block;
    margin: auto;
    margin-top: 20px;

}

section {
    width: 100%;
    display: flex;
    flex-direction: row;


}

.card1 {
    width: 30%;
    background: white;
    margin-top: 150px;
    margin-left: 100px;
    

}

.cardhead {
    display: block;
    width: 100%;
    background: #135ec5;
    background-image: url(./img/furie.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.fresh {

    background: white;
    border-radius: 30px;
    width: 25%;
    height: 30px;
    margin-left: 67%;
    margin-top: 10%;
    border: none;


}

.fresh a {
    text-align: center;
    color: #135ec5;
    font-size: 12px;
}
.cardmercedes {
    width: 70%;
    background-image: url(./img/furie.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 40px;
    margin-top: 10%;

}
.cardmercedes img {
    display: block;
    width: 90%;
    margin: auto;
}

.card1 h5 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
}

.card1 span:first-of-type {
    display: block;
    color: #135ec5;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.card1 span:last-of-type {
    color: #c1c1c1;
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin-top: 5%;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10%;






}

.more {

    background: #e2e2e2;
    border: none;
    border-radius: 30px;
    width: 55%;
    height: 40px;
}

.more a {
    font-size: 15px;
}

.price:before {
    margin-left: 10%;
    margin-top: 10px;
    font-weight: bold;
    content: '15.000$';
    color: #16ad2c;

    font-size: 20px;



}

.card2 {
    width: 70%;

    background: white;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
}



.right {


    margin-left: auto;
    width: 40%;
    background: #135ec5;
    
  
}

.merc img{

    margin-top: 100px;
    display: block;
    margin-left: -70px;
    max-width: 120%;
 
    
}
.fresh1{
    width: 25%;
    background: white;
    border-radius: 30px;
    margin-left: 70%;
    height: 30px;
    margin-top: 19%;
    border: none;


}

.fresh1 a {
    text-align: center;
    color: #135ec5;
    font-size: 12px;
}






.order {
    width: 45%;
    margin-left: 40px;
    height: 40px;
   background: #135ec5;
   border-radius: 30px;
   border: none;
   margin-bottom: 30%;
   margin-top: 5%;
}

.price1 {
    margin-top: 50px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    color: #e8e8e8;
    font-size: 12px;
    font-weight: bold;
    

}

.left .price1 :after {
    font-weight: bold;
    content: '15.000$';
    color: #16ad2c;
    font-size: 20px;
    margin-left: 66%;
}


.left h5{
    margin-left: 40px;
    margin-top: 15%;
    color: #135ec5;
    
    font-size: 1.3em;
}
.left p{
    margin-top: 30px;
    margin-left: 40px;
    line-height: 35px;
    color: #c1c1c1;
    font-size: 0.8em;
}
.circles{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 60px;
   
}
.circle{
    background: #1550a1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 8px;

}
.circle1{
    background: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 8px;
}
footer{
    width: 80%;
    
    overflow: auto;
    margin: auto;
     margin-top: 80px;
}
footer form input{
    display: inline-block;
    width: 16%;
    margin: 4%;
    border: none;
    border-bottom:1px solid #ebebeb;
    color: #ebebeb;
    font-weight: bold;
    font-size: 1.1em;
    line-height:250%;
    outline: none;
   }
footer section{
background: white;


}
.category{
    text-align: center;
    
}
 .category input:nth-child(2)::placeholder {
    color:  #000;
    
}

.cars2{
background: white;
overflow: hidden;
padding-left: 0%;



}

.cars2 h3{
    margin-left: 5%;
    
    }

.cars2 ul li {
    display: inline-block;
    width: 10%;
    padding-left: 2%;
    
}
   
.cars2 ul li  img  {
    width: 70%;
    margin-left: 30%;
    display: block;

}
.choice{
    margin-left: 2%;

}
.parameters{
    background: #135ec5;
    width: 100%;
  

}

.parameters p{
    margin-left: -5%;
}

.option input{
    background: #135ec5;
    width: 16%;
    margin: 4%;
    border: none;
    border-bottom:1px solid #6d90d4;;
    color: #6d90d4;
    font-weight: bold;
    font-size: 1.1em;
    line-height:450%;
    }

.option input::placeholder{
    color: #6d90d4; ;
}
.option input:nth-child(1)::placeholder{
    color: white;
}
.parameters button.advanced{
 margin-top: -20%;
 position: relative;
 margin-left: 770%;
 text-align: center;
}
.advanced {
    position: absolute;
    border-radius: 30px;
    border: none;
    width: 275%;
    height: 10%;
    background: #135ec5;
}
.advanced a{
    color: white;
    font-size: 0.7em;

}
.parameters button.search{
    background: white;
    width: 20%;
    margin-left: 42%;
    margin-bottom: 5%;
}

.parameters button.search a{
    color:#135ec5 ;
}

